!data/
!data/attack/
data/cifar-10-batches-py/*
data/images/*
data/NASBench101/*
data/NASBench201/*
!data/robustness-data/
data/dataset/*
data/dataset/*.tar.gz
data/dataset/cifar-10-batches-py/*
data/dataset/cifar-100-python/*

!results/
results/*
